html, body {
  box-sizing: border-box;
  background-color: rgb(8, 8, 8);
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
  text-decoration-color: rgb(179, 255, 0)
  height: 100%;
  width: 100%;
  background-size: cover
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
a, a:hover,h1,h2,p {
  text-decoration: none;
  color: #a8e600;
}

.special{
  color: #a28181;
}


.imgbackground {
  image-size: cover}

.overlay-text {
    position: absolute;
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgb(8, 8, 8);
    color:#a8e600;
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}